@using MaxiKioscos.Web.Comun.Extensiones
<!-- Modal -->
<div id="StocksModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="StocksModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
     
        </div>
    </div>
</div>

@Html.Modal("ProductosModal",ModalSize.Large)