@using MaxiKioscos.Web.Comun.Extensiones
@Html.PopupTitulo("Código Duplicado")
<div class="modal-body">
    <div class="alert alert-danger">
        El código ingresado ya se encuentra siendo utilizado por otro producto
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancelar</button>
</div>
