@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.Producto

@Html.PopupTitulo("Detalle de Producto")
<div class="modal-body">
    <div class="fields-container">
        @{Html.RenderPartial("_CamposProductoDetalle"); }
    </div>
    <div class="stock-container"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-stock"><span class="fa fa-calculator"></span>Stock</button>
    <button type="button" class="btn btn-default btn-volver" style="display: none;"><span class="glyphicon glyphicon-arrow-left"></span>Volver</button>
    &nbsp;
    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
</div>

<script type="text/javascript" src="/Scripts/app/maxikiosco-productos-stock.js"></script>
<script>
    $(function () {
        inicializarStock('@Model.ProductoId');
    })
</script>
