<ion-view title="DrugStore" hide-menu-button="true" ng-controller="LoginCtrl as vm">

    <ion-content class="padding">

        <h2 style="text-align: center;">Login</h2><br />

        <form name="authorizationForm">
            <section class="form-group" style="align: center;">
                <label for="Username" localization-group="DisplayName" localization-key="vm.authorization.username">
                    Usuario
                </label>
                <input class="form-control" name="Username" ng-model="vm.authorization.username" required="required" type="text"/>
                <div ng-messages="authorizationForm.Username.$error" ng-show="authorizationForm.Username.$touched || authorizationForm.$submitted">
                    <div ng-messages-include="/app/templates/error-messages.html">
                    </div>
                </div>
                <label for="Password" localization-group="DisplayName" localization-key="vm.authorization.password">
                    Contraseña
                </label>
                <input class="form-control" name="Password" ng-model="vm.authorization.password" required="required" type="password" value=""/>
                <div ng-messages="authorizationForm.Password.$error" ng-show="authorizationForm.Password.$touched || authorizationForm.$submitted">
                    <div ng-messages-include="/app/templates/error-messages.html">
                    </div>
                </div>
                </br>
                <button class="button button-calm button-block" ng-click="vm.signIn(authorizationForm)">
                    Entrar
                </button>  
                 <div class="alert alert-danger" data-ng-hide="vm.message == ''">
                    <h5 style="text-align: center; color:red;">{{vm.message}}</h5>
                </div>             
            </section>         
        </form>
    </ion-content>
</ion-view>