<ion-view title="DrugStore" hide-menu-button="true" hide-back-button="true" ng-controller="LoginCtrl as vm">

    <ion-content class="padding">
        <div class="bar bar-header bar-calm">
            <h2 class="title">Login</h2>
        </div>
        </br>
         </br>
        </br>
        </br>
        <form name="authorizationForm">
            <section class="form-group" style="align: center;">
                <label class="user" for="Username" localization-group="DisplayName" localization-key="vm.authorization.username">
                    Usuario
                </label>
                <input class="form-control" name="Username" ng-model="vm.authorization.username" required="required" type="text" placeholder="Ingrese usuario"/>
                <div ng-messages="authorizationForm.Username.$error" ng-show="authorizationForm.Username.$touched || authorizationForm.$submitted">
                    <div ng-messages-include="app/templates/error-messages.html">
                    </div>
                </div>
                <label class="password" for="Password" localization-group="DisplayName" localization-key="vm.authorization.password">
                    Contraseña
                </label>
                <input class="form-control" name="Password" ng-model="vm.authorization.password" required="required" type="password" value="" placeholder="Ingrese contraseña"/>
                <div ng-messages="authorizationForm.Password.$error" ng-show="authorizationForm.Password.$touched || authorizationForm.$submitted">
                    <div ng-messages-include="app/templates/error-messages.html">
                    </div>
                </div>
                </br>
                <button class="button button-calm button-block" ng-click="vm.signIn(authorizationForm)">
                    Entrar
                </button>
                 <div class="alert alert-danger" data-ng-hide="vm.message == ''">
                    <h5 style="text-align: center; color:red;">{{vm.message}}</h5>
                </div>
            </section>         
        </form>
    </ion-content>
</ion-view>