<!-- Modal -->
<div id="CostosModal" class="modal fade" id="myModal" role="dialog" aria-labelledby="CostosModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
    </div>
  </div>
</div>