<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DefaultPageSize" value="30" />
  <add key="UploadTempPath" value="UploadTemp"/>
  <add key="ReportarErrorDevelopersEmails" value="defe.frank@gmail.com,jrossiq@gmail.com,santiacevedo@gmail.com,nicolasdogi@gmail.com" />
  <add key="MandrillApiKey" value="qRlh_VDvNJbIdbwo_eisNg"/>
  <add key="MailUser" value="sandboxitsolutions@gmail.com" />

  <!--PRODUCCION-->
  <!--<add key="LogFolder" value="h:\root\home\ganciokioscos-001\www\site1\Logs" />-->
  
  <!--DEV-->
  <add key="LogFolder" value="c:\Maxikioscos\Logs" />
</appSettings>