<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear/>
  
  <!--DEV-->
  <!--<add name="SimpleMembership" connectionString="data source=.;Initial Catalog=MaxiKioscos;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="MaxiKioscosEntities" connectionString="metadata=res://*/MaxikioscosModelo.csdl|res://*/MaxikioscosModelo.ssdl|res://*/MaxikioscosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MaxiKioscos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SincronizacionEntities" connectionString="metadata=res://*/SincronizacionModelo.csdl|res://*/SincronizacionModelo.ssdl|res://*/SincronizacionModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MaxiKioscos.Sincronizacion;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <!--PRODUCCION-->
  <add name="MaxikioscosEntities" connectionString="metadata=res://*/maxikioscosmodelo.csdl|res://*/maxikioscosmodelo.ssdl|res://*/maxikioscosmodelo.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=SQL5010.Smarterasp.net;initial catalog=DB_9B2582_MaxiKioscos;User Id=DB_9B2582_MaxiKioscos_admin;Password=quilombito;multipleactiveresultsets=true;app=entityframework&quot;" providerName="system.data.entityclient"/>
  <add name="SimpleMembership" connectionString="data source=SQL5010.Smarterasp.net;Initial Catalog=DB_9B2582_MaxiKioscos;User Id=DB_9B2582_MaxiKioscos_admin;Password=quilombito" providerName="System.Data.SqlClient"/>
  <add name="SincronizacionEntities" connectionString="metadata=res://*/SincronizacionModelo.csdl|res://*/SincronizacionModelo.ssdl|res://*/SincronizacionModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5022.Smarterasp.net;initial catalog=DB_9B2582_MaxiKioscosSync ;User Id=DB_9B2582_MaxiKioscosSync_admin;Password=quilombito69;multipleactiveresultsets=true;app=entityframework&quot;" providerName="System.Data.EntityClient" />
  
  <!--TEST-->
  <!--<add name="MaxikioscosEntities"
      connectionString="metadata=res://*/maxikioscosmodelo.csdl|res://*/maxikioscosmodelo.ssdl|res://*/maxikioscosmodelo.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=SQL5015.Smarterasp.net;initial catalog=DB_9B2582_maxitest;User Id=DB_9B2582_maxitest_admin;Password=quilombito;multipleactiveresultsets=true;app=entityframework&quot;"
      providerName="system.data.entityclient"/>
  <add name="SimpleMembership"
    connectionString="data source=SQL5015.Smarterasp.net;Initial Catalog=DB_9B2582_maxitest;User Id=DB_9B2582_maxitest_admin;Password=quilombito"
    providerName="System.Data.SqlClient"/>-->
</connectionStrings>

