@using MaxiKioscos.Web.Configuration
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Maxikioscos Web v1.0</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <button data-reportar-error-url="@Url.Action("ReportarError","Feedback")" class="btn-reportar-error btn btn-danger">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Reportar un Error
            </button>
        </li>

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                </li>
                <li>
                    <a data-ajax="true" data-ajax-begin="maxikioscoSpinner.startSpin" data-ajax-failure="maxikioscoSpinner.stopSpin" 
                       data-ajax-method="Get" data-ajax-mode="replace" data-ajax-success="maxikioscoSpinner.stopSpin" 
                       data-ajax-update="#AdminContainer" href="/Cuenta"><i class="fa fa-gear fa-fw"></i>Configuración</a>
                    
                </li>
                <li class="divider"></li>
                @using (Html.BeginForm("Logoff", "Account"))
                {
                    <li><a href="#" class="lnk-logoff"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
                }
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

</nav>
<!-- /.navbar-static-top -->
