<ion-view view-title="Cargar Control Stock Dinámico" ng-controller="CargarControlStockDynamicCtrl as vm">
    <ion-content>
        <div class="row">
            <a class="button button-icon button-clear icon ion-search" style="text-align: left;" ng-click="vm.buscarProductoClick()"> Escanear</a>
        </div>
        <div class="row">
            <a class="button col button-icon button-clear icon ion-search" style="text-align: left;" ng-click="vm.buscarProductoPorCodigo()"> Ingresar código</a>
        </div>
        <div class="row">
            <a class="button button-icon col button-clear icon ion-trash-b" style="text-align: left;" ng-disabled="vm.productos.length == 0" ng-click="vm.limpiar()"> Limpiar</a>
        </div>
        <ul class="list">
            <!--  <li class="item">
                <div class="row">
                    <div class="col col-40">
                        <h2>Prod</h2>
                    </div>
                    <div class="col col-10">
                        <h2>St.</h2>
                    </div>
                    <div class="col col-30">
                        <h2>Mot.</h2>
                    </div>
                    <div class="col-20">
                        <h2>Diff.</h2>
                    </div>
                </div>
            </li> -->
            <li class="item" ng-repeat="producto in vm.productos" ng-class="{'balanced': producto.MotivoCorreccionId && producto.Diferencia}" id="{{producto.Codigo}}" style="padding:0;">
                <div class="row">
                    <div class="col-10 padding-top">
                        <strong class="bold">{{$index + 1}}.</strong>
                    </div>
                    <div class="col-80 padding-top">
                        <span>{{producto.Producto}}</span>
                    </div>
                    <!-- <div class="col-40">
                        <div class="bold">{{producto.Codigo}}</div>
                    </div> -->
                    <div class="col-10" style="horizontal-align: right;vertical-align: top;">
                        <a class="button button-icon-right button-clear icon ion-trash-b" style="font-color:red;" ng-click="vm.eliminar($index)"></a>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="col">
                        <div class="bold">{{producto.Codigo}}</div>
                    </div>
                    <div class="col">
                        <span>Stock: <b>{{producto.StockActual}}</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input item-select" style="height : 100%">
                            <!--  <span class="input-label">Mot.</span> -->
                            <select style="left:0;    padding: 0;" ng-model="producto.MotivoCorreccionId">
                                <option value="" label="Sel. Mot"></option>
                                <option ng-repeat="motivo in vm.motivos" value="{{motivo.Id}}">
                                    {{motivo.Description}}
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Dif.</span>
                            <input type="number" ng-model="producto.Diferencia" />
                        </label>
                    </div>
                </div>
                <!-- 
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 15%;">
                            <span>Stock:</span>
                        </td>
                        <td style="width: 15%;">
                                              
                        </td>
                        <td style="width: 40%;">
                            
                        </select>
                        </td>
                        <td style="width: 15%;">
                            <span>Dif:</span>
                        </td>
                        <td style="width: 15%;">
                            <input type="number" style="vertical-align: top;" ng-model="producto.Diferencia"/>
                        </td>
                    </tr>
                </table> -->
            </li>
            <button class="button button-calm button-full" ng-click="vm.guardar()">
                Aceptar
            </button>
        </ul>
    </ion-content>
</ion-view>