<ion-view view-title="Cargar Control Stock Dinámico" ng-controller="CargarControlStockDynamicCtrl as vm">
    <ion-content>
        <div cass="row">
            <a class="button button-icon button-clear icon ion-search" ng-click="vm.buscarProductoClick()"> Escanear</a>
        </div>
        <div cass="row">        
            <a class="button button-icon button-clear icon ion-search" ng-click="vm.buscarProductoPorCodigo()"> Ingresar código</a>
        </div>
        <div cass="row">
            <a class="button button-icon button-clear icon ion-trash-b" ng-disabled="vm.productos.length == 0" ng-click="vm.limpiar()"> Limpiar</a>
        </div>
        <ul class="list">            
             <li class="item">
                <div class="row">
                    <div class="col col-40">
                        <h2>Prod</h2>
                    </div>
                    <div class="col col-10">
                        <h2>St.</h2>
                    </div>
                    <div class="col col-30">
                        <h2>Mot.</h2>
                    </div>
                    <div class="col-20">
                        <h2>Diff.</h2>
                    </div>
                </div>
            </li>

            <li class="item"
                ng-repeat="producto in vm.productos"
                ng-class="{'balanced': producto.MotivoCorreccionId && producto.Diferencia}"
                id="{{producto.Codigo}}">

                <div class="row row-center">
                    <div class="col col-40">
                        <strong class="bold">{{$index + 1}}.</strong>
                        <span>{{producto.Producto}}</span>
                        <div class="bold">{{producto.Codigo}}</div>
                    </div>
                    <div class="col col-10 text-right">
                        <span class="right">{{producto.StockActual}}</span>
                    </div>
                    <div class="col col-30">
                        <select ng-model="producto.MotivoCorreccionId">
                            <option value="" label="Sel. Mot"></option>
                            <option ng-repeat="motivo in vm.motivos" value="{{motivo.Id}}">
                                {{motivo.Description}}
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="number" ng-model="producto.Diferencia"/>
                    </div>
                    <div class="col">
                         <a class="button button-icon button-clear icon ion-trash-b" style="font-color:red;" ng-click="vm.eliminar($index)"></a>
                    </div>
                </div>

            </li>

            <button class="button button-calm button-full" ng-click="vm.guardar()">
                Aceptar
            </button>
        </ul>
    </ion-content>
</ion-view>