<ion-view view-title="Ingresar Diferencias" ng-controller="CargarControlStockCtrl as vm">
    <ion-content>
        <ul class="list">
            <a class="button button-icon button-clear icon ion-search" ng-click="vm.buscarProductoClick()"></a>
        
            <li class="item"
                ng-repeat="producto in vm.productos"
                ng-class="{'balanced': producto.MotivoCorreccionId && producto.Diferencia}"
                id="{{producto.Codigo}}">                
                 <div class="row">
                    <div class="col-10 padding-top">
                        <strong class="bold">{{$index + 1}}.</strong>
                    </div>
                    <div class="col-80 padding-top">
                        <span style="white-space: normal;">{{producto.Producto}}</span>
                    </div>                   
                </div>
                <div class="row padding-bottom">
                    <div class="col">
                        <div><span style="font-weight: bold;">Cod: </span>{{producto.Codigo}}</div>
                    </div>
                    <div class="col">
                        <b>Stock: </b>{{producto.StockActual}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">                        
                        <select class="selectMotivo" ng-model="producto.MotivoCorreccionId">
                            <option value="" label="Sel. Mot"></option>
                            <option ng-repeat="motivo in vm.motivos" value="{{motivo.Id}}">
                                {{motivo.Description}}
                            </option>
                        </select>                        
                    </div>
                    <div class="col-6" style="padding-left:10px;">                       
                        <input type="number" ng-model="producto.Diferencia" placeholder="Diferencia" class="diferencia" />
                    </div>
                </div>     
            </li>


            <div class="row" style="padding: 0 6px;">
                <button class="button button-calm button-full" ng-click="vm.guardar()">Aceptar</button>
            </div>
            
        </ul>
    </ion-content>
</ion-view>