<ion-view view-title="Control Stock" ng-controller="GenerarControlStockCtrl as vm">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Proveedor
                </div>
                <select ng-model="vm.criterios.proveedorSeleccionado">
                    <option value="" label="Seleccione Proveedor"></option>
                    <option ng-repeat="proveedor in vm.proveedores" value="{{proveedor.Id}}">
                        {{proveedor.Description}}
                    </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Rubro
                </div>
                <select ng-model="vm.criterios.rubroSeleccionado">
                    <option value="" label="Seleccione Rubro"></option>
                    <option ng-repeat="rubro in vm.rubros" value="{{rubro.Id}}">
                        {{rubro.Description}}
                    </option>
                </select>
            </label>

            <ion-checkbox ng-model="vm.criterios.excluirStockCero">Excluir Stock 0</ion-checkbox>
            <ion-checkbox ng-model="vm.criterios.soloMasVendidos">Solo los m&aacute;s Vendidos</ion-checkbox>

            <label class="item item-input">
                <span class="input-label">Cantidad de Filas</span>
                <input type="number" ng-model="vm.criterios.cantidadFilas">
            </label>

            <button class="button button-calm button-full" ng-click="vm.generarClick()">
                Generar
            </button>
        </div>

    </ion-content>
</ion-view>