<ion-view view-title="Generar Planilla" ng-controller="GenerarControlStockCtrl as vm">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Proveedor
                </div>
                <select ng-model="vm.criterios.proveedorSeleccionado" ng-change="vm.validateProveedor()">
                    <option value="" label="Seleccione Proveedor"></option>
                    <option ng-repeat="proveedor in vm.proveedores" value="{{proveedor.Id}}">
                        {{proveedor.Description}}
                    </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Rubro
                </div>
                <select ng-model="vm.criterios.rubroSeleccionado"  ng-change="vm.validateRubro()">
                    <option value="" label="Seleccione Rubro"></option>
                    <option ng-repeat="rubro in vm.rubros" value="{{rubro.Id}}">
                        {{rubro.Description}}
                    </option>
                </select>
            </label>

            <ion-checkbox ng-model="vm.criterios.excluirStockCero">Excluir Stock 0</ion-checkbox>
            <ion-checkbox ng-change="vm.soloMasVendidosChanged()" ng-model="vm.criterios.soloMasVendidos">Solo los m&aacute;s Vendidos</ion-checkbox>

            <label class="item item-input" style="padding: 4px 10px;">
                <span class="input-label" ng-disabled="!vm.criterios.soloMasVendidos">Cantidad de Filas</span>
                <input type="number" ng-model="vm.criterios.cantidadFilas" ng-disabled="!vm.criterios.soloMasVendidos">
            </label>

            <div class="row" style="padding: 0 6px;">
                <button class="button button-calm button-full" ng-click="vm.generarClick()" ng-disabled="(vm.criterios.rubroSeleccionado == null && vm.criterios.proveedorSeleccionado == null)">
                Generar
                </button>
            </div>
            
        </div>

    </ion-content>
</ion-view>