@using MaxiKioscos.Web.Comun.Extensiones
@Html.PopupTitulo("Reportar un error")
<div class="modal-body">
    <div class="alert alert-danger">
        Ha ocurrido un error al intentar reportar su error. Por favor, intente m&aacute;s tarde. Muchas
        gracias.
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancelar</button>
</div>
