@using MaxiKioscos.Web.Comun.Extensiones
@Html.PopupTitulo("Reportar un error")
<div class="modal-body">
    <div class="alert alert-success">
        Su Error ha sido reportado correctamente. Muchas gracias por su informaci&oacute;n.
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
</div>
