@model bool?
<div class="radio-inline" style="padding-top: 18px;">
    <label>
        @Html.RadioButton("",true)
        Finalizada
    </label>
</div>
<div class="radio-inline" style="padding-top: 18px;">
    <label>
        @Html.RadioButton("",false)
        Abierta
    </label>
</div>
<div class="radio-inline" style="padding-top: 18px;">
    <label>
         @Html.RadioButton("",string.Empty)
        Todas   
    </label>
</div>