@model bool?
<div class="radio-inline" style="padding-top: 18px;">
    <label>
        @Html.RadioButton("",true)
        Con Compra
    </label>
</div>
<div class="radio-inline" style="padding-top: 18px;">
    <label>
        @Html.RadioButton("",false)
        Sin compra
    </label>
</div>
<div class="radio-inline" style="padding-top: 18px;">
    <label>
         @Html.RadioButton("",string.Empty)
        Todas
    </label>
</div>