ALTER PROCEDURE [dbo].[Sync_Productos] 
	@XML XML,
	@SobreescribirLocal bit
AS
BEGIN
	DECLARE @idoc int, @doc nvarchar(MAX);
	SET @doc = (SELECT CAST(@XML as nvarchar(max)));

	--Create an internal representation of the XML document.
	EXEC sp_xml_preparedocument @idoc OUTPUT, @doc;
	-- Execute a SELECT statement that uses the OPENXML rowset provider.
	
	Declare @Temp table
	(
	    ProductoId int, 
	    Identifier uniqueidentifier,  
	    Descripcion varchar(300), 
	    PrecioSinIVA money, 
	    PrecioConIVA money, 
	    StockReposicion int, 
	    Desincronizado bit,
		FechaUltimaModificacion datetime2(7), 
		Eliminado bit, 
		AceptaCantidadesDecimales bit,
		EsPromocion bit,
		FactorAgrupamiento int,
		DisponibleEnDeposito bit,
		RubroIdentifier uniqueidentifier, 
		MarcaIdentifier uniqueidentifier,
		CuentaIdentifier uniqueidentifier
	);
	
	WITH ProductoCTE (ProductoId, Identifier, Descripcion, PrecioSinIVA, PrecioConIVA,
			StockReposicion, Desincronizado,FechaUltimaModificacion, Eliminado, 
			AceptaCantidadesDecimales, EsPromocion, FactorAgrupamiento, DisponibleEnDeposito, 
			RubroIdentifier, MarcaIdentifier, CuentaIdentifier)
	AS (
		SELECT    *
		FROM       OPENXML (@idoc, '/Exportacion/Productos/Producto',1) 
				 WITH (ProductoId INT	'ProductoId', 
					   Identifier UNIQUEIDENTIFIER   'Identifier',
					   Descripcion varchar(300) 'Descripcion', 
					   PrecioSinIVA money	 'PrecioSinIVA', 
					   PrecioConIVA money	 'PrecioConIVA', 
					   StockReposicion decimal 'StockReposicion', 
					   Desincronizado bit 'Desincronizado', 
					   FechaUltimaModificacion datetime2(7)  'FechaUltimaModificacion', 
					   Eliminado bit 'Eliminado', 
					   AceptaCantidadesDecimales bit 'AceptaCantidadesDecimales',
					   EsPromocion bit 'EsPromocion',
					   FactorAgrupamiento int 'FactorAgrupamiento',
					   DisponibleEnDeposito bit 'DisponibleEnDeposito',
					   RubroIdentifier UNIQUEIDENTIFIER 'RubroIdentifier',
					   MarcaIdentifier UNIQUEIDENTIFIER 'MarcaIdentifier',
					   CuentaIdentifier UNIQUEIDENTIFIER 'CuentaIdentifier')
	 )
	 
	 INSERT INTO @Temp
	 SELECT * FROM ProductoCTE
	 
	 
	 UPDATE P
	 SET RubroId = (SELECT TOP 1 RubroId FROM Rubro WHERE Identifier = CTE.RubroIdentifier), 
		MarcaId = (SELECT TOP 1 MarcaId FROM Marca WHERE Identifier = CTE.MarcaIdentifier), 
		CuentaId = (SELECT TOP 1 CuentaId FROM Cuenta WHERE Identifier = CTE.CuentaIdentifier), 
		Descripcion = CTE.Descripcion, 
		PrecioSinIVA = CTE.PrecioSinIVA, 
		PrecioConIVA = CTE.PrecioConIVA, 
		StockReposicion = CTE.StockReposicion, 
		Desincronizado = CTE.Desincronizado,
		FechaUltimaModificacion = CTE.FechaUltimaModificacion, 
		Eliminado = CTE.Eliminado, 
		AceptaCantidadesDecimales = CTE.AceptaCantidadesDecimales,
		EsPromocion = ISNULL(CTE.EsPromocion, 0),
		FactorAgrupamiento = CTE.FactorAgrupamiento,
		DisponibleEnDeposito = ISNULL(CTE.DisponibleEnDeposito, 0)
	FROM @Temp CTE
		INNER JOIN Producto P
			ON CTE.Identifier = P.Identifier
	WHERE (@SobreescribirLocal = 1 OR
			(@SobreescribirLocal = 0 AND P.Desincronizado = 0))
	
			
	INSERT INTO Producto (Identifier, RubroId, MarcaId, CuentaId, Descripcion, 
			PrecioSinIVA, PrecioConIVA, StockReposicion, Desincronizado,FechaUltimaModificacion, Eliminado, 
			AceptaCantidadesDecimales, EsPromocion, FactorAgrupamiento, DisponibleEnDeposito)
	SELECT Identifier, 
			(SELECT TOP 1 RubroId FROM Rubro WHERE Identifier = CTE.RubroIdentifier), 
			(SELECT TOP 1 MarcaId FROM Marca WHERE Identifier = CTE.MarcaIdentifier),
			(SELECT TOP 1 CuentaId FROM Cuenta WHERE Identifier = CTE.CuentaIdentifier),
			Descripcion, 
			PrecioSinIVA,
			PrecioConIVA, 
			StockReposicion, 
			Desincronizado,
			FechaUltimaModificacion, 
			Eliminado, 
			AceptaCantidadesDecimales,
			ISNULL(EsPromocion, 0),
			ISNULL(DisponibleEnDeposito, 0),
			FactorAgrupamiento		
	FROM @Temp CTE
	WHERE CTE.Identifier NOT IN (SELECT Identifier FROM Producto)
	
	
	IF @SobreescribirLocal = 1
	BEGIN
		UPDATE P
		SET Desincronizado = 0
		FROM Producto P
		WHERE P.Identifier IN (SELECT Identifier
								FROM @Temp)
		
	END
	ELSE
		UPDATE P
		SET Desincronizado = 1
		FROM Producto P
		WHERE P.Identifier IN (SELECT Identifier
								FROM @Temp)
		
END



