@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Web.Models.ExportacionDescargaModel

@Html.PopupTitulo("Descargar")
@using (Html.BeginForm("Descargar", "Sincronizacion"))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                @{Html.RenderPartial("_CamposExportacionDescargar"); }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-descargar" href="#" style="display: none;"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Descargar</a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
}

