@model TimeSpan?
<div class="input-group input-append bootstrap-timepicker" style="width: 120px;">
    @Html.TextBox("", Model, new { @class = "form-control" , @readonly = "readonly"})
    <span class="input-group-addon add-on"><i class="glyphicon glyphicon-time"></i></span>
</div>
