<script type="text/javascript">
    function hideLoading() {
        document.getElementById('divLoading').style.display = "none";
        document.getElementById('ReporteIframe').style.display = "block";
    }
</script>

<div id="divLoading" class="text-center" style="margin-top: 100px">
    <img src="~/Content/imagenes/loading100X100.gif" alt="" />
</div>
