<ion-view view-title="Cargar Control Stock" ng-controller="CargarControlStockCtrl as vm">
    <div class="bar bar-header bar-calm">
        <h1 class="title">Cargar Control Stock</h1>
    </div>
    <ion-content class="has-header">

        <div class="row">
            <div class="col col-35">
                <h4>Prod</h4>
            </div>
            <div class="col col-15">
                <h4>St. Act</h4>
            </div>
            <div class="col col-25">
                <h4>Mot.</h4>
            </div>
            <div class="col col-25">
                <h4>Diff.</h4>
            </div>
        </div>

        <div class="row row-center" style="border-top: 1px #000000 solid" ng-repeat="producto in vm.productos">
            <div class="col col-40">
                <strong class="bold">{{producto.fila}}.</strong>
                <span>{{producto.nombre}}</span>
            </div>
            <div class="col col-10 text-right">
                <span class="right">{{producto.stockActual}}</span>
            </div>
            <div class="col col-25">
                <select ng-model="producto.motivo">
                    <option value="" label="Sel. Mot"></option>
                    <option ng-repeat="motivo in vm.motivos" value="{{motivo.id}}">
                        {{motivo.nombre}}
                    </option>
                </select>
            </div>
            <div class="col col-25">
                <input type="number" ng-model="producto.diferencia" />
            </div>
        </div>

        <button class="button button-calm button-full" ng-click="vm.aceptarClick(vm.productos)">
            Aceptar
        </button>

    </ion-content>
</ion-view>