<ion-view view-title="Control Stock" ng-controller="GenerarControlStockCtrl as vm">
    <div class="bar bar-header bar-calm">
        <h1 class="title">Control Stock</h1>
    </div>
    <ion-content class="has-header">
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Proveedor
                </div>
                <select ng-model="vm.proveedorSeleccionado">
                    <option value="" label="Seleccione Proveedor"></option>
                    <option ng-repeat="proveedor in vm.proveedores" value="{{proveedor.id}}">
                        {{proveedor.nombre}}
                    </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Rubro
                </div>
                <select ng-model="vm.rubroSeleccionado">
                    <option value="" label="Seleccione Rubro"></option>
                    <option ng-repeat="rubro in vm.rubros" value="{{rubro.id}}">
                        {{rubro.nombre}}
                    </option>
                </select>
            </label>

            <ion-checkbox ng-model="vm.excluirStockCero">Excluir Stock 0</ion-checkbox>
            <ion-checkbox ng-model="vm.soloMasVendidos">Solo los más Vendidos</ion-checkbox>

            <label class="item item-input">
                <span class="input-label" ng-model="vm.CantidadFilas">Cantidad de Filas</span>
                <input type="text">
            </label>
        </div>

    </ion-content>
</ion-view>