@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.MaxiKiosco

@Html.PopupTitulo("Detalle de MaxiKiosco")
<div class="modal-body">
    @{Html.RenderPartial("_CamposMaxiKioscoDetalle"); }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
</div>

