@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.Marca

@Html.PopupTitulo("Eliminar Marca")
@using (Html.BeginForm("Eliminar", "Marcas"))
{
    <div class="modal-body">
        <div class="row">
            <div>
                <div class="alert alert-warning">
                    Esta seguro que desea eliminar la marca?
                </div>
            </div>
            <div class="col-lg-12">
                @{Html.RenderPartial("_CamposMarcaDetalle"); }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-eliminar"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Eliminar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
    </div>
}
