@using MaxiKioscos.Web.Comun.Extensiones
@using PagedList.Mvc
@model List<MaxiKioscos.Entidades.PermisoRol>
<div id="ListadoContainer" class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="TableRoles">
        <thead>
            <tr>
                <th>Nombre</th>
                <th class="columna-botones"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var permiso in Model)
            {
                <tr>
                    <td>@permiso.Permiso.Nombre</td>
                    <td class="text-center">
                        <a class="btn btn-default btn-reporte-permiso-eliminar" href="@Url.Action("EliminarPermiso", new { id = permiso.PermisoRolId })"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
