@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.Factura

@Html.PopupTitulo("Detalle de Factura")
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6">
            @{Html.RenderPartial("_CamposFacturaDetalle"); }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Aceptar</button>
</div>