@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.Factura

@Html.PopupTitulo("Finalizar Factura")

@using (Html.BeginForm("Finalizar", "Facturas"))
{
    <div class="modal-body">
        <div class="row">
            <div>
                <div class="alert alert-warning">
                    Esta seguro que desea finalizar la factura?
                </div>
            </div>
            <div class="col-lg-6">
                @{Html.RenderPartial("_CamposFacturaDetalle"); }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Finalizar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
    </div>
}
