@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.CategoriaCosto

@Html.PopupTitulo("Detalle de Categoría de Costo")
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            @{Html.RenderPartial("_CamposCategoriaCostoDetalle"); }
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Aceptar</button>
</div>