@using MaxiKioscos.Web.Comun.Extensiones
@model MaxiKioscos.Entidades.Producto

@Html.PopupTitulo("Eliminar Promoción")
@using (Html.BeginForm("Eliminar", "Promociones"))
{
    <div class="modal-body">
        <div class="row">
            <div>
                <div class="alert alert-warning">
                    Esta seguro que desea eliminar la siguiente promoción?
                </div>
            </div>
        </div>
        @{Html.RenderPartial("_CamposPromocionDetalle"); }
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Eliminar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
    </div>
}

@Scripts.Render("~/Scripts/app/maxikiosco-promociones-editar.js")
